body {
  font-family: 'Times New Roman', sans-serif;
  background-color; #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  background-color: ##fbf2fc
}

p {
  font-family: Times New Roman, sans-serif;
}

h1 {
  color: #005a9c;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.container {
  display: flex;
}

.main-content {
  width: 70%;
}

.sidebar {
  width: 30%
}

@media (max-width: 600px) {
  .container {
    flex-direction: coloumn;
  }

  .main-content, .sidebar {
    width: 100%;
  }
}
